@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 14px;
    font-weight: 400;
}

window#waybar {
    background-color: @base;
    color: @text;
    border-radius: 12px;
    border: 2px solid @blue;
}

button {
    color: @text;
    border: 1px solid transparent;
    padding: 2px;
    margin: 0;
}

button:hover,
button:active,
button:focus {
    background-color: @base;
    color: @text;
    border-bottom-color: @text;
    padding: 0;
}

#clock,
#battery,
#cpu,
#bluetooth,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 4px 8px;
    border-radius: 8px;
    background-color: @surface1;
    margin: 8px 4px;
}

#clock {
    font-weight: 500;
    font-size: 15px;
}

#window { padding: 0 16px; font-size: 12px; }
#workspaces button {
    padding: 0 4px;
}

