@import "colors.css";

* {
    font-family: 'Ubuntu Nerd Font', monospace;
    font-size: 15px;
    font-weight: 400;
}

window#waybar {
    background-color: @background;
    color: @text;
}

#clock,
#battery,
#cpu,
#memory,
#bluetooth,
#disk,
#temperature,
#network,
#wireplumber,
#pulseaudio,
#tray,
#custom-media {
    padding: 4px 8px;
    margin: 0;
}

#cpu, #memory, #temperature {
    color: @red; 
}

#memory {
    padding-left: 0;
    padding-right: 0;
}

#clock {
    color: @aqua;
}

#battery {
    color: @green;
}

#bluetooth {
    color: @blue;
}

#wireplumber, #pulseaudio {
    color: @yellow;
}

#network {
    color: @purple;
}

#custom-media {
    color: @text;
    color: @background;
}

#workspaces button {
    margin: 0;
    padding: 0 8px;
    border-radius: 0;
    min-width: 0;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: @text;
    color: @background;
}

#workspaces button.urgent {
   background: @red;
}

